.swiper-container {
    overflow: hidden;
}

/* Make swiper slides equal height */
.swiper-wrapper {
    align-items: stretch;
    padding: 1rem;
    padding-right: 0;
    margin-left: -1rem;
}

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20rem;
    height: auto;
    overflow: visible;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}

.event-card {
    box-shadow: none;
    text-align: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    gap: 0.5rem;
}

.event-card img {
    width: 6rem;
    aspect-ratio: 1/1;
    border-radius: 0.5rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    transition: opacity 0.3s ease;
}

.event-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
    gap: 0.5rem;
    text-align: left;
}

.event-title {
    align-self: center;
}

.event-content {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}

.event-card h5,
.event-card h6,
.event-card p {
    margin: 0;
    padding: 0;
}

.event-buttons {
    display: flex;
    width: 100%;
    margin-top: auto;
    gap: 0.5rem;
}